In [122]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [302]:
df = pd.read_csv('C:/Users/cauec/Documents/Career/COURSES/COURSERA_DataScience/Course_9_CapstoneProject/Data-Collisions.csv')
df.head()

C:\Users\cauec\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [ ]:
df = df.drop(['X', 'Y','PERSONCOUNT', 'PEDCYLCOUNT', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR','INTKEY','EXCEPTRSNCODE','EXCEPTRSNDESC', 'INATTENTIONIND','SPEEDING', 'COLDETKEY','REPORTNO','STATUS','SEVERITYCODE.1','JUNCTIONTYPE','SDOT_COLCODE', 'LOCATION', 'LIGHTCOND', 'SEVERITYDESC'], axis = 1)

In [304]:
df.head()

,SEVERITYCODE,OBJECTID,INCKEY,ADDRTYPE,COLLISIONTYPE,PEDCOUNT,VEHCOUNT,INCDATE,INCDTTM,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND
0,2,1,1307,Intersection,Angles,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Overcast,Wet
1,1,2,52200,Block,Sideswipe,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",0,Raining,Wet
2,1,3,26700,Block,Parked Car,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",0,Overcast,Dry
3,1,4,1144,Block,Other,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Clear,Dry
4,2,5,17700,Intersection,Angles,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",0,Raining,Wet

In [305]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   SEVERITYCODE   194673 non-null  int64
 1   OBJECTID       194673 non-null  int64
 2   INCKEY         194673 non-null  int64
 3   ADDRTYPE       192747 non-null  object
 4   COLLISIONTYPE  189769 non-null  object
 5   PEDCOUNT       194673 non-null  int64
 6   VEHCOUNT       194673 non-null  int64
 7   INCDATE        194673 non-null  object
 8   INCDTTM        194673 non-null  object
 9   SDOT_COLDESC   194673 non-null  object
 10  UNDERINFL      189789 non-null  object
 11  WEATHER        189592 non-null  object
 12  ROADCOND       189661 non-null  object
dtypes: int64(5), object(8)
memory usage: 19.3+ MB

In [306]:
# frequency of unique indexes for each attribute
for column in df.columns.values.tolist():
    print(column)
    print(df[column].value_counts())
    print("")

SEVERITYCODE
1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

OBJECTID
2047     1
1194     1
58550    1
64693    1
62644    1
        ..
96890    1
90745    1
92792    1
70263    1
2049     1
Name: OBJECTID, Length: 194673, dtype: int64

INCKEY
266238    1
81549     1
104088    1
126615    1
124566    1
         ..
164613    1
176899    1
178946    1
172801    1
295445    1
Name: INCKEY, Length: 194673, dtype: int64

ADDRTYPE
Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

COLLISIONTYPE
Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

PEDCOUNT
0    187734
1      6685
2       226
3        22
4         4
6         1
5         1
Name: PEDCOUNT, dtype: int64

VEHCOUNT
2     147650
1      25748
3      13010
0       5085
4       2426
5        529
6        146
7         46
8         15
9          9
11         6
10         2
12         1
Name: VEHCOUNT, dtype: int64

INCDATE
2006/11/02 00:00:00+00    96
2008/10/03 00:00:00+00    92
2005/05/18 00:00:00+00    84
2006/01/13 00:00:00+00    83
2005/11/05 00:00:00+00    83
                          ..
2020/05/18 00:00:00+00     2
2015/12/25 00:00:00+00     1
2020/05/19 00:00:00+00     1
2020/05/17 00:00:00+00     1
2020/05/20 00:00:00+00     1
Name: INCDATE, Length: 5985, dtype: int64

INCDTTM
11/2/2006                96
10/3/2008                91
11/5/2005                83
12/4/2004                74
6/1/2006                 73
                         ..
9/13/2010 5:25:00 PM      1
8/27/2019 7:04:00 PM      1
1/18/2019 7:05:00 AM      1
7/30/2019 8:53:00 PM      1
8/30/2011 12:00:00 PM     1
Name: INCDTTM, Length: 162058, dtype: int64

SDOT_COLDESC
MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE          85209
MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END                    54299
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE          9928
NOT ENOUGH INFORMATION / NOT APPLICABLE                          9787
MOTOR VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                    8856
MOTOR VEHCILE STRUCK PEDESTRIAN                                  6518
MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE AT ANGLE           5852
MOTOR VEHICLE STRUCK OBJECT IN ROAD                              4741
MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END AT ANGLE            3104
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE SIDESWIPE         1604
MOTOR VEHICLE STRUCK MOTOR VEHICLE, RIGHT SIDE AT ANGLE          1440
PEDALCYCLIST STRUCK MOTOR VEHICLE FRONT END AT ANGLE             1312
MOTOR VEHICLE OVERTURNED IN ROAD                                  479
MOTOR VEHICLE STRUCK PEDALCYCLIST, REAR END                       181
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE             180
MOTOR VEHICLE RAN OFF ROAD - NO COLLISION                         166
PEDALCYCLIST STRUCK MOTOR VEHICLE REAR END                        139
MOTOR VEHICLE STRUCK PEDALCYCLIST, LEFT SIDE SIDESWIPE            124
DRIVERLESS VEHICLE RAN OFF ROAD - HIT FIXED OBJECT                107
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE FRONT END AT ANGLE        104
MOTOR VEHICLE STRUCK TRAIN                                        102
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE REAR END                   93
PEDALCYCLIST STRUCK PEDESTRIAN                                     75
PEDALCYCLIST OVERTURNED IN ROAD                                    69
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE         53
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE             50
PEDALCYCLIST STRUCK OBJECT IN ROAD                                 23
MOTOR VEHICLE STRUCK PEDALCYCLIST, RIGHT SIDE SIDESWIPE            17
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE        12
PEDALCYCLIST STRUCK MOTOR VEHICLE LEFT SIDE AT ANGLE                9
DRIVERLESS VEHICLE STRUCK PEDESTRIAN                                8
PEDALCYCLIST STRUCK PEDALCYCLIST REAR END                           7
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE RIGHT SIDE SIDESWIPE        6
PEDALCYCLIST STRUCK PEDALCYCLIST FRONT END AT ANGLE                 5
DRIVERLESS VEHICLE STRUCK MOTOR VEHICLE LEFT SIDE SIDESWIPE         4
PEDALCYCLIST RAN OFF ROAD - HIT FIXED OBJECT                        4
DRIVERLESS VEHICLE STRUCK OBJECT IN ROADWAY                         3
PEDALCYCLIST STRUCK MOTOR VEHICLE RIGHT SIDE AT ANGLE               2
DRIVERLESS VEHICLE RAN OFF ROAD - NO COLLISION                      1
Name: SDOT_COLDESC, dtype: int64

UNDERINFL
N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

WEATHER
Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

ROADCOND
Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [373]:
#missing values for each attribute
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

OBJECTID
False    194673
Name: OBJECTID, dtype: int64

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64

PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64

VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

SDOT_COLDESC
False    194673
Name: SDOT_COLDESC, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

### Filling 'UNDERINFL' constant

In [307]:
# attribute dummy values no 'N' and 'Y'
df['UNDERINFL'].replace(['0','1'], ['N', 'Y'], inplace = True)
df['UNDERINFL'].replace(['N', 'Y'], [0,1],  inplace = True)

In [308]:
#Check the % of each count_values() element 
UNDERINFL = [100274, 80394, 5126, 3995]
total = sum(UNDERINFL)
for n in UNDERINFL:
    print((n*100)/total)

52.83446353582136
42.359673110665
2.7008941508728115
2.1049692026408273

In [309]:
# Calculate the proportional number 'N' and 'Y' to replace in NaN entries  
UNDERINFL_fill = df[df.UNDERINFL==1]
table_SEVERITYCODE = pd.DataFrame(UNDERINFL_fill.SEVERITYCODE.value_counts())
UNDERINFL_fill2 = df[df.UNDERINFL==0]
table_SEVERITYCODE2 = pd.DataFrame(UNDERINFL_fill2.SEVERITYCODE.value_counts())
frames = [table_SEVERITYCODE, table_SEVERITYCODE2]
result = pd.concat(frames, axis = 1)
result.columns = ['Y', 'N']
Ytotal =  result['Y'].sum()
Ntotal = result['N'].sum()
total = result.append({'Y':Ytotal, 'N':Ntotal}, ignore_index=True)
rY = (total.iloc[0,0]/total.iloc[2,0])*100
rY2 = (total.iloc[1,0]/total.iloc[2,0])*100
rN = (total.iloc[0,1]/total.iloc[2,1])*100
rN2 = (total.iloc[1,1]/total.iloc[2,1])*100
total.insert(1, 'Y%', [rY, rY2, 'NaN'])
total.insert(3, 'N%', [rN, rN2, 'Nan'])
Y = ((rY+rY2)/200)*0.05
N = ((rN+rN2)/200)*0.95
total #from the results, no significant change between the two. So use the proportional

      Y       Y%       N      N%
0  5559  60.9473  127071  70.334
1  3562  39.0527   53597  29.666
2  9121      NaN  180668     Nan

In [312]:
# create a mask list with NaN values and replace it for 0 and 1 from the proportion found earlier
df_nan = df[df.UNDERINFL.isnull()].reset_index()
df_nan.loc[:4649,'UNDERINFL'].replace(to_replace=np.nan, value=0, inplace = True)
df_nan.loc[4649:4884,'UNDERINFL'].replace(to_replace=np.nan, value=1, inplace = True)
df_nan.set_index('index', inplace = True)
df_nan['UNDERINFL'].value_counts()

0.0    4650
1.0     234
Name: UNDERINFL, dtype: int64

AttributeError: can't delete attribute

In [390]:
# replace df_nan values to the original df
df.replace(to_replace=df['UNDERINFL'], value=df_nan['UNDERINFL'], inplace = True)
df['UNDERINFL'].value_counts()

0.0    180668
1.0      9121
Name: UNDERINFL, dtype: int64

In [391]:
df.isnull().UNDERINFL.value_counts()

False    189789
True       4884
Name: UNDERINFL, dtype: int64

### ADDRTYPE fill blanks

In [345]:
# find the proportion of each type to fill blanks accordingly
df_addrtype = pd.DataFrame(df['ADDRTYPE'].value_counts())
df_addrtype.index.name = 'type'
df_addrtype.reset_index(inplace = True)

In [347]:
df_addrtype['%'] = (df_addrtype['ADDRTYPE']/df_addrtype['ADDRTYPE'].sum())*100
df_addrtype

           type  ADDRTYPE         %
0         Block    126926  65.85109
1  Intersection     65070  33.75928
2         Alley       751   0.38963

In [358]:
# create a mask list with NaN values 
df_nan = df[df.UNDERINFL.isnull()].reset_index()
df_nan1 = df[df.ADDRTYPE.isnull()].reset_index()
df_nan1.shape

(1926, 14)

In [360]:
# replace NaN for proportion found earlier
df_nan1.loc[:1251,'ADDRTYPE'].replace(to_replace=np.nan, value='Block', inplace = True)
df_nan1.loc[1251:1886,'ADDRTYPE'].replace(to_replace=np.nan, value='Intersection', inplace = True)
df_nan1.loc[1886:,'ADDRTYPE'].replace(to_replace=np.nan, value='Alley', inplace = True)
df_nan1.set_index('index', inplace = True)

KeyError: "None of ['index'] are in the columns"

In [380]:
df.isnull().ADDRTYPE.value_counts()

False    192747
True       1926
Name: ADDRTYPE, dtype: int64

## replace df_nan1 values to the original df

In [381]:
df['ADDRTYPE'].replace(to_replace=np.nan, value=df_nan1, inplace = True)

In [382]:
df.isnull().ADDRTYPE.value_counts()

False    192747
True       1926
Name: ADDRTYPE, dtype: int64

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

OBJECTID
False    194673
Name: OBJECTID, dtype: int64

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64

PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64

VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

SDOT_COLDESC
False    194673
Name: SDOT_COLDESC, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

In [51]:
df['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

In [41]:
df['SEVERITYCODE'].unique()

array([2, 1], dtype=int64)